0-admin
cours
**/v0
**/tests
daily*.md
**/.env
**/node_modules
**/config
**/*.key
**/*.crt
**/*.pem
**/udp
**/countries.json
**/corrections
**/corrections/ex8-9-*
**/corrections/ex11-min
**/corrections/**/games.mjs
**/corrections/**/stats.mjs